node_modules
npm-debug.log*
.env
.env.*
.git
.gitignore
*.md
jest.config.js
.eslintrc.json
.editorconfig
prettier.config.js
docker-compose*.yml
Dockerfile*
build-and-run-docker-sql.sh
exit-docker-sql.sh
run-docker-sql.sh
certs/
src/
